### OSX ###
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Haskell ###
dist/
dist-newstyle/
cabal-dev
.ghc.environment*
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.local
.stack-work/
*.aux
*.ps
*.hp
*.prof

# terraform
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
